ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/vc141.pdb
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/vc141.idb
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/pch.obj
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.pch
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.obj
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.log
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/link.write.1.tlog
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/link.read.1.tlog
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/link.command.1.tlog
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/ISA_AltitudeCrunch.lastbuildstate
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/CL.write.1.tlog
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/CL.read.1.tlog
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_Alti.0212A998.tlog/CL.command.1.tlog
ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.pdb
ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.ilk
ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.Build.CppClean.log
ISA_AltitudeCrunch/.vscode/launch.json
ISA_AltitudeCrunch/.vscode/c_cpp_properties.json

ISA_AltitudeCrunch/.vs/ISA_AltitudeCrunch/v16/.suo

ISA_AltitudeCrunch/.vs/ISA_AltitudeCrunch/v16/Browse.VC.db

ISA_AltitudeCrunch/.vs/ISA_AltitudeCrunch/v16/ipch/2e0aa1e12ff8e06f.ipch

ISA_AltitudeCrunch/.vs/ISA_AltitudeCrunch/v16/ipch/50a11f0d5a0291d2.ipch

ISA_AltitudeCrunch/Debug/ISA_AltitudeCrunch.exe

ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/vc142.idb

ISA_AltitudeCrunch/ISA_AltitudeCrunch/Debug/vc142.pdb

ISA_AltitudeCrunch/ISA_AltitudeCrunch/ISA_AltitudeCrunch.vcxproj

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/CL.command.1.tlog

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/CL.read.1.tlog

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/CL.write.1.tlog

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/ISA_AltitudeCrunch.lastbuildstate

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/link.command.1.tlog

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/link.read.1.tlog

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_Alti.0212A998.tlog/link.write.1.tlog

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_AltitudeCrunch.log

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_AltitudeCrunch.obj

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/ISA_AltitudeCrunch.pch

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/pch.obj

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/vc142.idb

ISA_AltitudeCrunch/ISA_AltitudeCrunch/x64/Debug/vc142.pdb

ISA_AltitudeCrunch/x64/Debug/ISA_AltitudeCrunch.exe

ISA_AltitudeCrunch/x64/Debug/ISA_AltitudeCrunch.ilk

ISA_AltitudeCrunch/x64/Debug/ISA_AltitudeCrunch.pdb
